@model Lebron.Areas.Admin.Models.SetRoleViewModel

<select asp-for="SelectedRoleNames" data-placeholder="Roller seç..." class="chosen-select" multiple style="width:350px;" tabindex="4" required>
	<option value="" selected disabled>Seç</option>
	@if (Model.SelectedRoleNames != null)
	{
		@foreach (var item in Model.RoleNames)
		{
			<option value="@item">@item</option>
		}
	}
</select>