@* @model EntityLayer.Concrete.Subscriber *@

<div class="tech-btm">
	<h4>Bültenimize abone olun</h4>
	<p>Resim, heykel, mimari, dans, tiyatro...</p>

	<form action="Subscriber/Index" method="post">
		<input type="email" name="Mail" placeholder="Mail" required="">
		<input type="submit" value="ABONE OL">
	</form>
</div>
