@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-top:20px;">
	<ul class="nav">
		@if (User.IsInRole("Admin"))
		{
			<li class="nav-item">
				<a class="nav-link" asp-action="" asp-controller="Category" asp-area="Admin">
					<span class="menu-title">Admin Kontrol Paneli</span>
					<i class="mdi mdi-crown menu-icon"></i>
				</a>
			</li>
		}
		<li class="nav-item">
			<a class="nav-link" asp-action="" asp-controller="Dashboard">
				<span class="menu-title">Kontrol Paneli</span>
				<i class="mdi mdi-home-outline menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-route-userName="@User.Identity.Name" asp-action="Edit" asp-controller="User">
				<span class="menu-title">Profilim</span>
				<i class="mdi mdi-account-outline menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-action="readIncludeCategoryByAppUserFilter" asp-controller="Blog">
				<span class="menu-title">Bloglarım</span>
				<i class="mdi mdi-format-list-bulleted menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-action="Create" asp-controller="Blog">
				<span class="menu-title">Yeni Blog</span>
				<i class="mdi mdi-plus menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a href="#ui-basic" class="nav-link" data-toggle="collapse" aria-expanded="false" aria-controls="ui-basic">
				<span class="menu-title">Mesajlar</span>
				<i class="menu-arrow"></i>
				<i class="mdi mdi-message-outline menu-icon"></i>
			</a>
			<div class="collapse" id="ui-basic">
				<ul class="nav flex-column sub-menu">
					<li class="nav-item"> <a class="nav-link" asp-action="Inbox" asp-controller="Message2">Gelen Kutusu</a></li>
					<li class="nav-item"> <a class="nav-link" asp-action="Sendbox" asp-controller="Message2">Giden Kutusu</a></li>
				</ul>
			</div>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-action="" asp-controller="Notification">
				<span class="menu-title">Bildirimler</span>
				<i class="mdi mdi-bell-outline menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-action="" asp-controller="Blog">
				<span class="menu-title">Siteye Git</span>
				<i class="mdi mdi-exit-to-app menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a asp-route-ReturnUrlOut="@Url.Page("/", new { area = "" })" asp-action="UserSignOut" asp-controller="UserSignIn" class="nav-link">
				<span class="menu-title">Çıkış Yap</span>
				<i class="mdi mdi-power menu-icon"></i>
			</a>
		</li>
	</ul>
</nav>
