<nav class="sidebar sidebar-offcanvas" id="sidebar" style="margin-top:20px;">
	<ul class="nav">
		<li class="nav-item">
			<a class="nav-link" href="/Dashboard">
				<span class="menu-title">Kontrol Paneli</span>
				<i class="mdi mdi-home-outline menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Writer/EditProfile">
				<span class="menu-title">Profilim</span>
				<i class="mdi mdi-account-outline menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Blog/readIncludeCategoryByWriterFilter">
				<span class="menu-title">Bloglarım</span>
				<i class="mdi mdi-format-list-bulleted menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Blog/Create">
				<span class="menu-title">Yeni Blog</span>
				<i class="mdi mdi-plus menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Message">
				<span class="menu-title">Mesajlar</span>
				<i class="mdi mdi-message-outline menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Notification">
				<span class="menu-title">Bildirimler</span>
				<i class="mdi mdi-bell-outline menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Blog">
				<span class="menu-title">Siteye Git</span>
				<i class="mdi mdi-exit-to-app menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Writer/EditProfile">
				<span class="menu-title">Ayarlar</span>
				<i class="mdi mdi-settings menu-icon"></i>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="#general-pages">
				<span class="menu-title">Çıkış Yap</span>
				<i class="mdi mdi-power menu-icon"></i>
			</a>
		</li>
	</ul>
</nav>
