@{
	ViewData["Title"] = "ConfirmEmail";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<h1>ConfirmEmaill</h1>

@* @TempData["StatusMessage"] *@

@* @{
	TempData.Keep("StatusMessage");
} *@

@* @TempData.Peek("StatusMessage").ToString() *@