@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<head>
	<link href="~/CoreBlogTema/web/css/contact.css" rel='stylesheet' type='text/css' />
</head>

<body>
	<!--Header-->
	<!--//header-->
	<!--/banner-->
	<!--//banner-->
	<!--/main-->
	<section class="main-content-w3layouts-agileits">
		<h3 class="tittle">Bize Ulaşın</h3>
		<p class="sub text-center">GÖRÜŞLERİNİZİ ÖNEMSİYORUZ</p>
		<div class="contact-map inner-sec">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4504.62415877369!2d37.30459986006022!3d37.02767818294028!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1531dffcd472a58d%3A0xd0e5357d74ad6f3e!2sGaziantep%20University%20Technopark!5e0!3m2!1sen!2sus!4v1698158131278!5m2!1sen!2sus"
					class="map" style="border:0" allowfullscreen=""></iframe>
		</div>
		<div class="ad-inf-sec bg-light">
			<div class="container">
				<div class="address row">
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-map"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Adres</h6>
								<p>Gaziantep, Türkiye</p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-envelope"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Mail</h6>
								<p><a href="mailto:contact@site.com">iletisim@site.com</a></p>
							</div>
						</div>
					</div>
					<div class="col-lg-4 address-grid">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="fas fa-mobile-alt"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Telefon</h6>
								<p>Kullanılmıyor</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="contact_grid_right">
				<form method="post">
					<div class="row contact_left_grid">
						<div class="col-md-6 con-left">
							<div class="form-group">
								<label>İSİM</label>
								<input class="form-control" type="text" name="Username" placeholder="">
							</div>
							<div class="form-group">
								<label>MAİL ADRESİ</label>
								<input class="form-control" type="email" name="Mail" placeholder="">
							</div>
							<div class="form-group">
								<label>KONU</label>
								<input class="form-control" type="text" name="Subject" placeholder="">
							</div>
						</div>
						<div class="col-md-6 con-right">
							<div class="form-group">
								<label for="textarea">MESAJ</label>
								<textarea id="textarea" placeholder="" name="Message"></textarea>
							</div>
							<input class="form-control" type="submit" value="GÖNDER">
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<!--//main-->
	<!--footer-->
	<!---->
	<!-- js -->
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<!--// end-smoth-scrolling -->
	<!-- //Custom-JavaScript-File-Links -->
</body>
