@model List<Lebron.Controllers.EmployeeModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout/AdminLayout.cshtml";
}

<table class="table" style="width: 400px;">
	<thead>
		<tr>
			<th>Id</th>
			<th>Name</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<th>@item.Id</th>
				<td>@item.Name</td>
				<td>
					<a asp-action="Edit" asp-route-writerId="@item.Id" class="btn btn-white btn-bitbucket">
						<i class="fa fa-pencil fa" style="color: #3C486B;"></i>
					</a>
				</td>
				<td>
					<a asp-action="Delete" asp-route-employeeId="@item.Id" class="btn btn-white btn-bitbucket">
						<i class="fa fa-trash fa-lg" style="color: #3C486B;"></i>
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<a asp-action="Add" class="btn btn-primary" type="button" style="width: 150px;">
	<i class="fa fa-plus"></i>&nbsp;Ekle
</a>