<!DOCTYPE html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>@ViewData["Title"] - Lebron Writer</title>
	<!-- plugins:css -->
	<link rel="stylesheet" href="/writer/assets/vendors/mdi/css/materialdesignicons.min.css">
	<link rel="stylesheet" href="/writer/assets/vendors/css/vendor.bundle.base.css">

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

	<!-- endinject -->
	<!-- Plugin css for this page -->
	<!-- End plugin css for this page -->
	<!-- inject:css -->
	<!-- endinject -->
	<!-- Layout styles -->
	<link rel="stylesheet" href="/writer/assets/css/style.css">
	<!-- End layout styles -->
	@* <link rel="shortcut icon" href="/writer/assets/images/favicon_yeni.ico" /> *@
</head>
<body>
	<div class="container-scroller">
		<!-- partial:../../partials/_navbar.html -->
		<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
			<div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
				<a class="navbar-brand brand-logo" href="/Dashboard"><img src="/writer/assets/images/new-logo/writerlayout/logo-no-background.svg" alt="logo" /></a>
				<a class="navbar-brand brand-logo-mini" href="/Dashboard"><img src="/writer/assets/images/favicon2.svg" alt="logo" /></a>
			</div>
			<div class="navbar-menu-wrapper d-flex align-items-stretch">
				<button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
					<span class="mdi mdi-menu"></span>
				</button>
				<div class="search-field d-none d-md-block">
					<form class="d-flex align-items-center h-100" action="#">
						<div class="input-group">
							<div class="input-group-prepend bg-transparent">
								<i class="input-group-text border-0 mdi mdi-magnify"></i>
							</div>
							<input type="text" class="form-control bg-transparent border-0" placeholder="Ara">
						</div>
					</form>
				</div>
				<ul class="navbar-nav navbar-nav-right">
					
					@await Component.InvokeAsync("message2ReadIncludeWriterByMessage2ReceiverFilter")
					
					@await Component.InvokeAsync("notification")

					@await Component.InvokeAsync("dashboardProfile")

				</ul>
				<button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
					<span class="mdi mdi-menu"></span>
				</button>
			</div>
		</nav>
		<!-- partial -->
		<div class="container-fluid page-body-wrapper">
			<!-- partial:../../partials/_sidebar.html -->
			@await Html.PartialAsync("Partial/WriterLayout/Sidebar")
			<!-- partial -->

			<div class="main-panel">
				<div class="content-wrapper">

					@RenderBody()

				</div>
				<!-- content-wrapper ends -->
				<!-- partial:../../partials/_footer.html -->
				@await Html.PartialAsync("Partial/WriterLayout/Footer")

				<!-- partial -->
			</div>
			<!-- main-panel ends -->
		</div>
		<!-- page-body-wrapper ends -->
	</div>
	<!-- container-scroller -->
	<!-- plugins:js -->
	<script src="/writer/assets/vendors/js/vendor.bundle.base.js"></script>
	<!-- endinject -->
	<!-- Plugin js for this page -->
	<!-- End plugin js for this page -->
	<!-- inject:js -->
	<script src="/writer/assets/js/off-canvas.js"></script>
	<script src="/writer/assets/js/hoverable-collapse.js"></script>
	<script src="/writer/assets/js/misc.js"></script>
	<!-- endinject -->
	<!-- Custom js for this page -->
	<!-- End custom js for this page -->
</body>
</html>
