@model EntityLayer.Concrete.Writer

<li class="nav-item nav-profile dropdown">
	<a class="nav-link dropdown-toggle" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
		<div class="nav-profile-img">
			<img src="@Html.DisplayFor(x => x.Image)" alt="image">
			<span class="availability-status online"></span>
		</div>
		<div class="nav-profile-text">
			<p class="mb-1 text-black">@Html.DisplayFor(x => x.Name)</p>
		</div>
	</a>
	<div class="dropdown-menu navbar-dropdown" aria-labelledby="profileDropdown">
		<a class="dropdown-item" href="#">
			<i class="mdi mdi-cached mr-2 text-success"></i> Activity Log
		</a>
		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="#">
			<i class="mdi mdi-logout mr-2 text-primary"></i> Signout
		</a>
	</div>
</li>
