<div class="comment-top">
	<h4>Yorum yap</h4>
	<div class="comment-bottom">
		<form action="/Comment/Create" method="post">
			<input class="form-control" type="text" name="Username" placeholder="İsim">
			<input class="form-control" type="text" name="Mail" placeholder="Mail adresi">
			<input class="form-control" type="text" name="Title" placeholder="Konu">
			<textarea class="form-control" name="Content" placeholder="Mesaj..."></textarea>

			<button type="submit" class="btn btn-primary submit">Gönder</button>
		</form>
	</div>
</div>
