<footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">
				<h3>Hakkımızda</h3>
				<p>
					Kültür ve sanatın derinliklerine inmek ve yaratıcı dünyanın kapılarını aralamak için bir yolculuğa çıkmaya hazır mısınız? Biz buradayız, sizi görsel sanatlardan edebiyata, performans sanatlarından tarihe kadar birçok ilginç konuyla tanıştırmak için. Sanatın Dünyası Resim, heykel, sinema, müzik ve daha fazlası...
				</p>
				<div class="read">
					<a href="About" class="btn btn-primary read-m">Devamını Oku</a>
				</div>
			</div>
			<div class="col-lg-4 footer-grid-agileits-w3ls text-left">

				@await Component.InvokeAsync("blogReadByLatestFilter", new{count = 3})

			</div>
			<!-- subscribe -->
			<div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">
				<!-- //subscribe -->
				@await Html.PartialAsync("~/Views/Subscriber/Index.cshtml")
			</div>
		</div>
		<!-- footer -->
		<div class="footer-cpy text-center">
			<div class="footer-social">
				<div class="copyrighttop">
					<ul>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-facebook-f"></i>
								<span>Facebook</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-twitter"></i>
								<span>Twitter</span>
							</a>
						</li>
						<li class="mx-3">
							<a class="facebook" href="#">
								<i class="fab fa-google-plus-g"></i>
								<span>Google+</span>
							</a>
						</li>
						<li>
							<a class="facebook" href="#">
								<i class="fab fa-linkedin"></i>
								<span>LINKEDIN</span>
							</a>
						</li>
					</ul>
				</div>
			</div>
			<div class="w3layouts-agile-copyrightbottom">
				<p>
					Lebron
					| ASP.NET Core Project by <a href="https://github.com/al1ydn">github.com/al1ydn</a>
					| Design by <a href="http://w3layouts.com/">W3layouts</a>
				</p>
			</div>
		</div>
		<!-- //footer -->
	</div>
</footer>
