
<div class="col-lg-6">
	<div class="widget navy-bg no-padding">
		<div class="p-m">
			<h1 class="m-xs">Kontrol paneli</h1>
			<h3 class="font-bold no-margins">ASP.NET Core 6.0</h3>
			<small>Admin işlemleri buradan yapılmaktadır.</small>
		</div>
		<div class="flot-chart">
			<div class="flot-chart-content" id="flot-chart1"></div>
		</div>
	</div>
</div>
<div class="col-lg-3">
	<div class="widget lazur-bg no-padding">
		<div class="p-m">
			<h1 class="m-xs">@ViewBag.RecentWriter</h1>
			<h3 class="font-bold no-margins">Son yazar</h3>
			<small>Tüm yazarlar</small>
		</div>
		<div class="flot-chart">
			<div class="flot-chart-content" id="flot-chart2"></div>
		</div>
	</div>
</div>
<div class="col-lg-3">
	<div class="widget yellw-bg no-padding">
		<div class="p-m">
			<h1 class="m-xs">50,992</h1>
			<h3 class="font-bold no-margins">Toplam tıklanma</h3>
			<small>Tekil ziyaretçi</small>
		</div>
		<div class="flot-chart">
			<div class="flot-chart-content" id="flot-chart3"></div>
		</div>
	</div>
</div>
