@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/UserLayout.cshtml";
}

<body>
	<!--Header-->
	<!--//header-->
	<!--/banner-->
	<!--//banner-->
	<!--/main-->
	<section class="main-content-w3layouts-agileits">
		<div class="container">
			<h3 class="tittle">Giriş Yap</h3>
			<div class="row inner-sec">
				<div class="login p-5 bg-light mx-auto mw-100">
					<form method="post">
						<div class="form-group">
							<label>Mail adresi</label>
							<input type="email" class="form-control" aria-describedby="emailHelp" placeholder="" name="Mail">
							<small class="form-text text-muted">Mail adresinizi kimseyle paylaşmayacağız.</small>
						</div>
						<div class="form-group">
							<label>Parola</label>
							<input type="password" class="form-control" placeholder="" name="Password">
						</div>
						<div class="form-check mb-2">
							<input type="checkbox" class="form-check-input">
							<label class="form-check-label">Beni hatırla</label>
						</div>
						<button type="submit" class="btn btn-primary submit mb-4">Giriş Yap</button>
						<p><a href="Register">Bir hesabın yok mu?</a></p>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!--//main-->
	<!--footer-->
	<!---->
	<!-- js -->
	<!-- //js -->
	<!--/ start-smoth-scrolling -->
	<!--// end-smoth-scrolling -->
	<!-- //Custom-JavaScript-File-Links -->
</body>
