<nav class="navbar-default navbar-static-side" role="navigation">
	<div class="sidebar-collapse">
		<ul class="nav metismenu" id="side-menu">
			<li class="nav-header">
				<div class="dropdown profile-element" style="text-align:center">
					<img alt="image" src="/inspinia-gh-pages/new-logo2/svg/logo-no-background.svg" style="max-width: 120px; text-align:center !important" />
				</div>
				<div class="logo-element">
					<img src="/inspinia-gh-pages/new-logo2/favicon/favicon.svg" alt="logo" style="max-width: 24px;" />
				</div>
			</li>
			<li>
				<a asp-action="" asp-controller="Widget"><i class="fa fa-home"></i> <span class="nav-label">Kontrol Paneli</span></a>
			</li>
			<li>
				<a href="/inspinia-gh-pages/layouts.html"><i class="fa fa-diamond"></i> <span class="nav-label">Layouts</span></a>
			</li>
			<li>
				<a asp-action="" asp-controller="Chart"><i class="fa fa-bar-chart-o"></i> <span class="nav-label">Grafikler</span></a>
			</li>
			<li>
				<a asp-action="" asp-controller="Message2">
					<i class="fa fa-envelope"></i>
					<span class="nav-label">Mesajlar</span>
					<span class="label label-warning float-right">16/24</span>
				</a>
				<ul class="nav nav-second-level collapse">
					<li><a asp-action="Inbox" asp-controller="Message2">Gelen Kutusu</a></li>
					<li><a asp-action="Sendbox" asp-controller="Message2">Giden Kutusu</a></li>
				</ul>
			</li>
			<li>
				<a href="/inspinia-gh-pages/metrics.html"><i class="fa fa-pie-chart"></i> <span class="nav-label">Metrikler</span>  </a>
			</li>
			<li>
				<a asp-action="" asp-controller="Category" ><i class="fa fa-th-large"></i> <span class="nav-label">Kategoriler</span>  </a>
			</li>
			<li>
				<a asp-action="" asp-controller="Blog"><i class="fa fa-list-ul"></i> <span class="nav-label">Bloglar</span>  </a>
			</li>
			<li>
				<a asp-action="Read" asp-controller="Comment"><i class="fa fa-comment-o"></i> <span class="nav-label">Yorumlar</span>  </a>
			</li>
			<li>
				<a asp-action="Read" asp-controller="User"><i class="fa fa-user"></i> <span class="nav-label">Yazarlar</span></a>
			</li>
			<li>
				<a asp-action="GetList" asp-controller="Role"><i class="fa fa-lock"></i> <span class="nav-label">Roller</span></a>
			</li>
			<li>
				<a href="/inspinia-gh-pages/metrics.html"><i class="fa fa-bell-o"></i> <span class="nav-label">Bildirimler</span>  </a>
			</li>
			<li>
				<a href="/inspinia-gh-pages/metrics.html"><i class="fa fa-pencil"></i> <span class="nav-label">İletişim</span>  </a>
			</li>
			<li>
				<a href="/inspinia-gh-pages/metrics.html"><i class="fa fa-credit-card"></i> <span class="nav-label">Hakkımızda</span>  </a>
			</li>
			<li>
				<a href="/inspinia-gh-pages/metrics.html"><i class="fa fa-cog"></i> <span class="nav-label">Ayarlar</span></a>
			</li>
		</ul>
	</div>
</nav>
