@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/WriterLayout.cshtml";
}

@* <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> *@

<!-- partial:partials/_navbar.html -->
<!-- partial -->
<!-- partial:partials/_sidebar.html -->
<!-- partial -->
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white mr-2">
			<i class="mdi mdi-home"></i>
		</span> Kontrol Paneli
	</h3>
</div>
<div class="row">
	<div class="col-md-4 stretch-card grid-margin">
		<div class="card bg-gradient-danger card-img-holder text-white">
			<div class="card-body">
				<img src="/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
				<h4 class="font-weight-normal mb-3">
					Blog Sayısı <i class="mdi mdi-chart-line mdi-24px float-right"></i>
				</h4>
				<h2 class="mb-5">@ViewBag.BlogCountWeek</h2>
				<h6 class="card-text">Bu hafta</h6>
			</div>
		</div>
	</div>
	<div class="col-md-4 stretch-card grid-margin">
		<div class="card bg-gradient-info card-img-holder text-white">
			<div class="card-body">
				<img src="/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
				<h4 class="font-weight-normal mb-3">
					Blog Sayısı <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
				</h4>
				<h2 class="mb-5">@ViewBag.BlogCountTotal</h2>
				<h6 class="card-text">Toplam</h6>
			</div>
		</div>
	</div>
	<div class="col-md-4 stretch-card grid-margin">
		<div class="card bg-gradient-success card-img-holder text-white">
			<div class="card-body">
				<img src="/writer/assets/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
				<h4 class="font-weight-normal mb-3">
					Karma <i class="mdi mdi-diamond mdi-24px float-right"></i>
				</h4>
				<h2 class="mb-5">@await Component.InvokeAsync("dashboardKarma", new{writerId = ViewBag.dashboardKarmaWriterId})</h2>
				<h6 class="card-text">Toplam</h6>
			</div>
		</div>
	</div>
</div>

@await Component.InvokeAsync("writerAbout")

@await Component.InvokeAsync("categoryReadDashboard")

@await Component.InvokeAsync("blogReadIncludeCategoryDashboard")

<!-- content-wrapper ends -->
<!-- partial:partials/_footer.html -->
<!-- partial -->
<!-- main-panel ends -->
<!-- page-body-wrapper ends -->
<!-- container-scroller -->
<!-- plugins:js -->
<!-- endinject -->
<!-- Plugin js for this page -->
<script src="/writer/assets/vendors/chart.js/Chart.min.js"></script>
<!-- End plugin js for this page -->
<!-- inject:js -->
<!-- endinject -->
<!-- Custom js for this page -->
<script src="/writer/assets/js/dashboard.js"></script>
<script src="/writer/assets/js/todolist.js"></script>
<!-- End custom js for this page -->
